img {
  max-width: 100%;
}
.top-bar {
  background-color: var(--grey-color);
  width: 100%;
  padding: 5px 10px;
}

.form-check-input:focus {
  border-color: var(--secondary-color);
  outline: 0;
  box-shadow: none !important;
}
.call-button {
  padding: 8px 20px;
  border-radius: 5px;
}
.call-button a {
  margin-left: 10px;
  display: inline-block;
}
.d-w {
  margin-right: 20px;
  color: #131313;
}
.call-button {
  color: #2e2e2e;
  font-weight: 700;
}
.call-button a {
  background: var(--secondary-color);
  padding: 3px 8px;
  border-radius: 5px;

  color: #131313;
}
.logi {
  border: 1px solid #f1f1f1;
  padding: 5px 10px;
  color: #131313;
  font-weight: 500;
}
.call-button a i {
  margin-right: 3px;
}
.hea-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-bar-wrapper ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 12px;
}
.slick-next {
  right: 25px !important;
}

.top-bar-wrapper ul li a {
  text-decoration: none;
  color: #262d3d;
  font-size: 14px;
  font-weight: 600;
}
.top-bar-wrapper ul li a i {
  padding-right: 10px;
}
.top-bar-wrapper ul li .header-top-contact-btn {
  text-decoration: none;
  color: #262d3d;
  font-size: 14px;
  font-weight: 600;
  background: var(--secondary-color);
  padding: 7px 9px;
  border: 1px solid #ffc20e;
  border-radius: 4px;
}
header {
  background-color: var(--primary-color);
  width: 100%;
  padding: 10px 0px;
}
.nav-wrapper ul {
  list-style-type: none;
}
.nav-wrapper ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 12px;
}
.nav-wrapper ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: baseline;
}
.main-heading-section h1 {
  font-style: normal;
  font-weight: 700;
  font-size: var(--heading-font-size);
  line-height: 60px;
  letter-spacing: -0.02em;

  color: #1e1e1e;
}
.form-submit-btn .btn-primary {
  padding: 15px 30px;
}
.main-heading-section p {
  font-size: 14px;
  font-weight: 400;

  padding: 4px;
}
.ptb-20 {
  padding: 20px 0px;
}
.hero-section-content {
  padding: 90px 0px;
}
.search-bar-section {
  position: relative;
}
.search-bar-section input {
  border: 1px solid #f1f1f1;

  height: auto;

  background: #f8f8f8;
  border-radius: 50px;
  padding: 12px 20px;
  width: 100%;
}
.search-bar-section .form-control:focus {
  color: none;
  background: none;
  border-color: none;
  outline: 0;
  box-shadow: none;
}
.search-btn {
  position: absolute;
  text-align: right;
  top: 5px;
  right: 5px;
}
.service-icon {
  margin-bottom: 20px;
}
.search-btn a {
  color: #262d3d;
  padding: 8px;
  background: #ffc20e;
  columns: #262d3d;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  align-items: center;
  padding: 12px;
  padding: 10px 26px;
  border-radius: 50px;
  text-decoration: none;
}
::placeholder {
  color: #888888;
  opacity: 1; /* Firefox */

  font-size: 14px;
  font-weight: 400;
  align-items: center;
}
.service-content ul li i {
  margin-right: 10px;
}
.service-content ul li {
  margin-bottom: 5px;
}
.service-content h5 {
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 700;
}
.booking-content h2 {
  font-size: 1.3rem;
}
.booking-amount-flex {
  display: flex;
  gap: 15px;
  align-items: center;
}
.all-services .service-heading {
  font-size: 1.2rem;
  font-weight: 700;
  color: #1e1e1e;
}
.all-services .service-card {
  padding: 0px;
}
.all-services .service-card .service-content {
  padding: 10px 15px;
}
.all-services .service-card .service-content .service-heading {
  margin-bottom: 10px;
}
.active {
  background: var(--secondary-color) !important;
}
.active2 {
  background: rgba(255, 194, 14, 0.1) !important;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #888888;
  opacity: 1; /* Firefox */

  font-size: 14px;
  font-weight: 400;
  align-items: center;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #888888;
  opacity: 1; /* Firefox */
  padding: 4px 18px;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
}
.ptb-60 {
  padding: 60px 0px;
}
.feartured-image img {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 16px;
}
.service-content-section {
  padding: 0px 46px;
}
.service-content-section h3 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 48px;
}
.service-content-section p {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}
.service-bullet-points ul {
  padding: 0px !important;
}
.service-bullet-points ul li {
  font-size: 14px;
  list-style-type: none;
  font-weight: 700;
  line-height: 42px;
}
.service-bullet-points ul li i {
  color: #007cc0;
  font-size: 20px;
  font-weight: 600;
  padding: 0px 8px;
}
.stat-card {
  background: #007cc0;
  color: #fff;
  padding: 20px 15px;
  height: 115px;
  text-align: center;
  border: 1px solid #007cc0;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.start-value {
  font-size: 22px;
  font-weight: 700;
}
.stat-label {
  font-size: 16px;
  font-weight: 400;
}
.contact-form-input {
  margin: 14px 0px;
}
.contact-form-input input {
  /* position: absolute; */
  border: 1px solid #f1f1f1;
  width: 100%;
  max-width: 100%;
  height: auto;
  /* max-height: 128px; */
  /* color: #d6d0d0; */
  background: #f1f1f1;
  border-radius: 4px;
  padding: 12px 10px;
}
.contact-form-input-message input {
  border: 1px solid #f1f1f1;
  width: 100%;
  max-width: 100%;
  height: auto;
  background: #f1f1f1;
  border-radius: 4px;
  padding: 46px 10px;
}
.form-submit-btn {
  padding: 10px 0px;
  text-align: center;
  background-color: var(--secondary-color);
  color: #131313;
  font-size: 20px;
  margin-top: 20px;
}

.bg-grey {
  background: #f1f1f1 !important;
}
.partner-form {
  background: #fff;
  padding: 25px;
  border-radius: 4px;
}
.partner-form h3 {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: #1e1e1e;
}
.partner-form p {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: var(--paragraph-color);
}
.partner-form .form-group label {
  font-weight: 500;
  margin-bottom: 5px;
}
.form-check-input:checked {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.how-we-work-section-heading {
  padding: 20px 0px;
}
.how-we-work-section-heading h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}
.how-we-work-section-heading p {
  font-size: 16px;
  color: #888888;
  font-weight: 400;
  text-align: center;
}
.work-buttons {
  display: flex;
  justify-content: center;
}
.work-buttons .btn-main {
  border: 1px solid #ffc20e;
  text-align: center;
  align-items: center;
  color: #1e1e1e;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  /* background: #; */
  background: #ffc20e;
  padding: 16px 32px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 10px;
}
.service-card-heading {
  line-height: 35px;
}
.work-buttons .btn-secondary {
  border: 1px solid #007cc0 !important;
  text-align: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  /* background: #; */
  background: #007cc0 !important;
  padding: 16px 32px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 10px;
}
.ptb-30 {
  padding: 30px 0px;
}
.book-service-card {
  background: rgba(255, 194, 14, 0.1);
  border-radius: 8px;
  height: 300px;
  padding: 35px 35px;
}
.book-service-card img {
  text-align: center;
  background: #ffc20e;
  height: 80px;
  width: auto;
  padding: 20px;
  border: 1px solid #ffc20e;
  border-radius: 50px;
}
.service-icon {
  text-align: center;
}
.service-content {
  margin-top: 20px;
}
.service-card-heading {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  color: #262d3d;
  padding: 10px 0px;
}
.service-card-content {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}
.partner-section-heading {
  padding: 20px 0px;
}
.partner-section-heading h3 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}
.partner-section-heading p {
  color: #888888;
  font-weight: 400;
  text-align: center;
}
.ptb-20 {
  padding: 20px 0px;
}
.service-section-heading h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}
.service-section-heading p {
  color: #888888;
  font-weight: 400;
  text-align: center;
}
.ptb-20 {
  padding: 20px 0px;
}
.marg {
  margin: 0 10px;
}
.slick-next {
  right: -25px !important;
}
.service-card {
  padding: 27px 27px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 4px;
  margin-top: 20px;
  background: #fff;
  height: 600px;
}
.single-sto-flex {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.single-sto-flex div {
  flex: 1;
}
.service-image img {
  border-radius: 16px;
}
.service-heading {
  font-size: 1.2rem;
  font-weight: 700;
  color: #1e1e1e;
}
.service-content p {
  font-size: 15px;
  font-weight: 400;
  color: #888888;
  margin: 10px 0px;
}
.service-content a {
  text-decoration: none;
  font-size: 14px;
  color: #007cc0;
  font-weight: 700;
  border-bottom: 2px solid #007cc0;
  padding-bottom: 10px;
}
.car-wash-video img {
  border-radius: 16px;
}
.video-section-heading h3 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}
.video-section-heading p {
  font-size: 16px;
  color: #888888;
  font-weight: 400;
  text-align: center;
}
.testimonial-card {
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  border-radius: 8px;
}
.testimonial-para {
  font-size: 15px;
  font-weight: 400;
  color: #888888;
  margin: 10px 0px;
}
.testimonial-title {
  padding: 8px 0px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #1e1e1e;
}
.testmonial-des {
  font-size: 12px;
  font-weight: 600;
  color: #888888;
}

.footer-inside-box {
  background: #007cc0;
  padding: 30px 10px 0px 10px;
}
.footer-content p {
  color: #fff;
  /* font-size: #14px; */
  font-size: 14px;
  font-weight: 400;
  padding: 20px 0px;
}
.social-links ul {
  padding-left: 0px !important;
}
.social-links ul li {
  list-style-type: none;
  display: inline-block;
  /* padding: 0px 12px; */
  padding-right: 8px;
}
.social-links ul li img {
  background: #ffc20e;
  border: 1px solid #ffc20e;
  border-radius: 30px;
  padding: 4px;
}
.footer-heading {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  padding: 4px 0px;
}
.footer-bullet-points ul {
  list-style-type: none;
  display: inline-block;
  padding-left: 0px;
}
.footer-bullet-points ul li {
  padding: 7px 0px;
}

.footer-bullet-points ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 20px 0px 10px 0px;
}

.footer-bullet-points ul li a i {
  font-size: 18px;
  padding-right: 6px;
}
.location-icon img {
  background: #ffc20e;
  border: 1px solid #ffc20e;
  border-radius: 30px;
  padding: 4px;
}
.location-text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 20px 0px;
}
.phone-icon img {
  background: #ffc20e;
  border: 1px solid #ffc20e;
  border-radius: 30px;
  padding: 4px;
}
.phone-text a {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 20px 0px;
  text-decoration: none;
}
.footer-location {
  display: flex;
  justify-content: space-between;
}

.footer-bottom-text {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 0px;
}
.location-icon {
  flex-basis: 35%;
}
.pt-60 {
  padding-top: 60px;
}
.section-heading h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1e1e1e;
  text-transform: uppercase;
  padding: 0px 0px 40px 0px;
  /* border-bottom: 2px solid #007CC0; */
  text-align: center;
}
.contactus-box {
  background: #fff;
  padding: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 4px;
}
.contactus-box-heading h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #1e1e1e;
}
.contactus-address-heading h3 span {
  color: #ffc20e;
}
.contactus-detailed-address {
  font-size: 16px;
  font-weight: 600;
  color: #262d3d;
  line-height: 26px;
}
.contactus-detailed-address i {
  color: #262d3d;
  font-size: 1rem;
  font-weight: 600;
  padding-right: 9px;
  color: #262d3d;
  font-size: 14px;
  font-weight: 600;
  padding-right: 7px;
  background: #ffc20e;
  border: 1px solid #ffc20e;
  border-radius: 30px;
  padding: 8px;
  margin-right: 8px;
}
.contactus-contact-number {
  padding: 8px 0px;
}
.contactus-contact-number a {
  color: #131313;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}
.contactus-contact-number i {
  color: #131313;
  font-size: 1rem;
  font-weight: 600;
  padding-right: 7px;
  background: #ffc20e;
  border: 1px solid #ffc20e;
  border-radius: 30px;
  padding: 8px;
  margin-right: 8px;
}
.contacus-box-img img {
  margin: 10px 0px;
  border-radius: 4px;
  padding: 3px;
}
.box-shadow_6 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.ptb-10 {
  padding: 10px 0px;
}
.form-top-content a {
  text-decoration: none;
  color: #ffc20e;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}
.guest-login-content {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #262d3d;
}
.guest-login-content a {
  text-decoration: none;
  color: #007cbf;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}
.mt-20 {
  margin-top: 20px;
}
.form-submit-btn-guest {
  padding: 25px 0px;
  text-align: center;
}
.form-submit-btn-guest a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background: #007cbf;
  padding: 8px 34px;
  border: 1px solid #007cc0;
  border-radius: 16px;
  text-transform: uppercase;
}
.login-forget-password a {
  font-size: 14px;
  font-weight: 600;
  color: #aa0201;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
}
.thankyou-form-top-content h3 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #1e1e1e;
}
.thankyou-form-top-content p {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #262d3d;
  border-bottom: 2px solid #ffc20e;
  /* padding-top: 20px; */
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  padding-bottom: 12px;
}
.only-desktop {
  display: block;
}
.only-mobile {
  display: none;
}
